ion-content{
  text-align: center;
  --padding-top: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
  --background: rgb(55, 235, 248);
}

.titulo{
  color: red;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

.cigarrofumado{
  width: 280px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid black;
}

.fumador{
  height: 200px;
}

.diasPerdidos{
  color: red;
}

.campos{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ion-button{
  --background: red;
}

ion-item{
  margin: 16px;
  --background: rgb(142, 173, 204);
  border-radius: 10px;
  border: 3px solid black;
}