<ion-content>
  <ion-label><h1 class="titulo">Cigarrômetro</h1>
  <img src="../../assets/endinglife.jpg" class="cigarrofumado"></ion-label>
  <ion-item>
    <ion-label><p class="campos">Qtd de cigarros/dia:</p></ion-label>
    <ion-input type="number" [(ngModel)]="cigarrosPorDia" placeholder="Ex: 5"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><p class="campos">Qtd de anos fumando:</p></ion-label>
    <ion-input type="number" [(ngModel)]="anosFumando" placeholder="Ex: 10"></ion-input>
  </ion-item>
  <ion-button (click)="calcular()" class="botao">Calcular</ion-button>
  <h3>Você perdeu:</h3>
  <h1 class="diasPerdidos">{{diasPerdidos.toFixed(0)}} dias</h1>
  <ion-item><img src="../../assets/fumante.png" class="fumador"></ion-item>
</ion-content>